*{
    font-family: 'Poppins',sans-serif;
}
.container-fluid{
    width:100%;
    height:100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
}
span{
    color:#FFA500;
}
.card{
    background: rgba(255,255,255,0.3);
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.btn-secondary{
    background-color:#FFA500 !important;
}

p:hover{
    cursor: pointer;
}